# Ignore environment variables file
.env

# Ignore temp python files
**/__pycache__/

# Ignore macd data for now
**/macd_data.csv
**/ema_data.csv
**/rsi_data.csv

# Ignore the mode training output files (for now, will most likely need to be altered before final product)
ml_pipelines/model_implementation/X_test.csv
ml_pipelines/model_implementation/X_train.csv
ml_pipelines/model_implementation/y_test.csv
ml_pipelines/model_implementation/y_train.csv
