# Ignore environment variables file
.env

# Ignore temp python files
**/__pycache__/

# Ignore temp data
**/macd_data.csv
**/ema_data.csv
**/rsi_data.csv
**/X_test.csv
**/X_train.csv
**/y_test.csv
**/y_train.csv

# Ignore temp model files and metadata
ml_pipelines/model_implementation/trained_models/*
stock_project/stock_app/inference/models/*
stock_project/metadata/*
stock_project/chosen_model/*

config
